gunicorn==22.0.0

asgiref==3.8.1
Django==5.0.6
django-cors-headers==4.4.0
djangorestframework==3.15.2
psycopg2-binary==2.9.9
python-dotenv==1.0.1
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1

accelerate==0.31.0
langchain-core==0.2.9
langchain-community==0.2.5
langchain-huggingface==0.0.3
transformers==4.42.4
sentence-transformers==3.0.1
einops==0.8.0

qdrant-client==1.10.1
fastembed==0.3.4

semantic-chunkers==0.0.6
#semantic-router==0.0.46
